* {
    box-sizing: border-box;
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.rectangle {
    height: 60px;
    width: 250px;
    background: red;
    margin: 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click {
    position: absolute;
    top: 50px;
    left: 50px;
}

.move {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.hover {
    position: absolute;
    top: 50px;
    right: 50px;
}

.dblclick {
    position: absolute;
    bottom: 50px;
    right: 50px;
}


.start {
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.orbit {
    animation: orbit 6s linear infinite;
}

@keyframes orbit {
    0% {
        transform:
            translate(150px, 0px)
            rotate(0deg)
            scale(1);
        background: red;
    }

    25% {
        transform:
            translate(0px, 150px)
            rotate(90deg)
            scale(1.3);
        background: orange;
    }

    50% {
        transform:
            translate(-150px, 0px)
            rotate(180deg)
            scale(0.8);
        background: yellow;
    }

    75% {
        transform:
            translate(0px, -150px)
            rotate(270deg)
            scale(1.4);
        background: lime;
    }

    100% {
        transform:
            translate(150px, 0px)
            rotate(360deg)
            scale(1);
        background: red;
    }
}
