

* {
    box-sizing: border-box;
}


body {
    background: #333333;
    color: #222222;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}


